/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html{
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#C0C0C0 !important;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100% !important;
    margin:0px !important;
    padding:0px !important;
    width:100% !important;
}

/* Portrait layout (default) */

.ui-page-theme-b .ui-btn.ui-btn-active, html .ui-bar-b .ui-btn.ui-btn-active, html .ui-body-b .ui-btn.ui-btn-active, html body .ui-group-theme-b .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-b.ui-btn-active, .ui-page-theme-b .ui-checkbox-on:after, html .ui-bar-b .ui-checkbox-on:after, html .ui-body-b .ui-checkbox-on:after, html body .ui-group-theme-b .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-b:after, .ui-page-theme-b .ui-flipswitch-active, html .ui-bar-b .ui-flipswitch-active, html .ui-body-b .ui-flipswitch-active, html body .ui-group-theme-b .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active, .ui-page-theme-b .ui-slider-track .ui-btn-active, html .ui-bar-b .ui-slider-track .ui-btn-active, html .ui-body-b .ui-slider-track .ui-btn-active, html body .ui-group-theme-b .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-b .ui-btn-active {
    background-color: #FED700!important;
    border-color: #FED700!important;
    text-shadow: 0 1px 0 #FDCC00!important;
}

#pageone{
  height: 100%;
  background: #c0c0c0;
}

#atras img{
      margin-left: 15px;
}

#header{
  border: none !important;
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin: 0 10% !important;
}

.ui-popup-screen.in {
    opacity: .7 !important;
    filter: Alpha(Opacity=50) !important;
    background: #000 !important;
}

/* Codigo para la página sin conexion*/
#logo-sin-conexion{
    width: 300px;
    height: 127px;
    background: url('../img/logo.png') !important;
    background-size: 300px 127px !important; 
    margin-top: 10px;
}

.contenedor-sin-conexion{
    padding: 30px;
    text-align: center;
}

#btn-intentar {
    background: #222;
    border: none;
    color: white;
    padding: 13px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.ui-mini.ui-btn-icon-left:after, .ui-mini .ui-btn-icon-left:after, .ui-header .ui-btn-icon-left:after, .ui-footer .ui-btn-icon-left:after {
    left: .37em;
    margin-left: 10px !important;
}


/* Landscape layout (with min-width)
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        padding:0px;  /* padding-top + padding-bottom + text area = image height 
        margin:0px;  /* offset vertical: half of image height 
                                      /* offset horizontal: half of image width and text area width 
    }
}
*/
h1 {
    text-transform: uppercase;
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


